{# src/Blogger/BlogBundle/Resources/views/Analysis/index.html.twig #}
{% form_theme form1 'CKMAppBundle::Form/errors.html.twig' %}

{% set explainText='' %}
{% set scenario='' %}
{% set model='' %}
{% for flashMessage in app.session.flashbag.get('explainText') %}
  {% for doc in flashMessage %}
    {% set explainText=explainText~doc %}
  {% endfor %}
{% endfor %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-success">
              <h4>Success!</h4>
              <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<div class="row">
  <div class="col-sm-8 ">
    <blockquote>
      <p><h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> Document a Scenario</h3></p>

      <form role="form" action="{{ path('CKMAppBundle_administration_datacard_documentation_add', {'display': 'no' }) }}" method="post" {{ form_enctype(form1) }}>
        {{ form_errors(form1.model) }}
        {{ form_label(form1.model) }}
        {{ form_widget(form1.model) }}

        {{ form_errors(form1.scenario) }}
        {{ form_label(form1.scenario) }}
        {{ form_widget(form1.scenario) }}

        {# form_errors(form1.display) #}
        {# form_label(form1.display) #}
        {{ form_widget(form1.display) }}

        {% if app.session.get('modelName') is defined %}
          {% if app.session.get('modelName') is not empty %}
            <p><span class="label label-info">Last choice</span>&nbsp;<span class="label label-default">{{app.session.get('modelName')}}</span> > <span class="label label-default">{{app.session.get('scenarioName')}}</span></p>
          {% endif %}
        {% endif %}

        {{ form_errors(form1.explain) }}
        {{ form_label(form1.explain) }}
        {{ form_widget(form1.explain, { 'value' : explainText }) }}

        {# form_errors(form1.document) #}
        {# form_label(form1.document) #}
        {{ form_widget(form1.document) }}

        {{ form_rest(form1) }}
      </form>
    </blockquote>
  </div>
</div>

{% endblock %}

