{# src/Blogger/BlogBundle/Resources/views/Analysis/index.html.twig #}
{% form_theme form1 'CKMAppBundle::Form/errors.html.twig' %}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block titlePage %}
Administration - <small></small>
{% endblock %}

{% block content %}
<h3>Upload a new file Scenario file</h3>

{% for flashMessage in app.session.flashbag.get('error') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
              <p><span class="label label-danger">Error</span> {{ flashMessage }} </p>
              <p><span class="label label-default">Or return to</span>  <a href="{{ path('CKMAppBundle_administration_datacard') }}">administration datacard</a></p>
      </div>
    </div>
  </div>
{% endfor %}

  <div class="col-lg-6">
    <form role="form" action="{{ path('CKMAppBundle_administration_datacard_add') }}" method="post" {{ form_enctype(form1) }}>
      {{ form_widget(form1) }}
      <br />
      <p>
        <input type="submit"  value="Upload Datacard" class="btn btn-primary" />
      </p>
    </form>
  </div>
{% endblock %}
