{# src/Blogger/BlogBundle/Resources/views/Administration/datacardDocumentation.html.twig #}

{% block content %}

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
              <h4>Warning!</h4>
              <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}


          <div class="col-sm-4 ">
            <blockquote>
                <p><h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> Documented Scenarii </h3></p>
                {% if scenarioDocumented is defined %}
                    <table class="table table-condensed table-hover">
                      <thead>
                        <tr>
                          <th class="header">name </th>
                          <th class="header">documented</th>
                          <th class="header">Model </th>
                          <th class="header">Link </th>
                        </tr>
                      </thead>
                      {% for scenario in scenarioDocumented %}
                        <tr>
                          <td> {{scenario.name}}</td>
                          <td> {{scenario.isDocumented  ? 'true' : 'false' }} </td>
                          <td> {{scenario.model.name}}</td>
                          <td> <a href="{{ path('CKMAppBundle_documentation_datacard_input', {'scenario': scenario.name, 'input': 0 }) }}">Scenario explanation</a></td>
                        </tr>
                      {% endfor %}
                      </table>
              {% endif %}
            </blockquote>
          </div>







{% endblock %}
