{# src/Blogger/BlogBundle/Resources/views/Administration/editScenario.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% include 'CKMAppBundle:Analysis:mathjax.html.twig' %}
{% endblock %}

{% block titlePage %}
Administration - <small>Scenario</small>
{% endblock %}

{% block content %}

<h3>Add quantities in Scenario</h3>

{% for type, flashMessages in app.session.flashbag.all() %}
  {% for flashMessage in flashMessages %}
      <div class="alert alert-{{ type }}">
          <span class="label label-{{ type }}">{{ type }}</span> &nbsp;{{ flashMessage }}
      </div>
  {% endfor %}
{% endfor %}

<div class="row">
  <div class="col-lg-6">
    <form role="form" method="post" {{ form_enctype(form) }}>
        <div class="form-group">
          {{ form_errors(form.name) }}
          {{ form_label(form.name) }}
          {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
          {{ form_errors(form.model) }}
          {{ form_label(form.model) }}
          {{ form_widget(form.model) }}
        </div>
        <div class="form-group">
          {{ form_errors(form.observables) }}
          {{ form_label(form.observables) }}
          {{ form_widget(form.observables) }}
        </div>
        <div class="form-group">
          {{ form_errors(form.parameters) }}
          {{ form_label(form.parameters) }}
          {{ form_widget(form.parameters) }}
        </div>
      <br />
      {{ form_rest(form) }}
      <p>
        <input type="submit" class="btn btn-primary" />
      </p>
    </form>
  </div>
</div>

{% endblock %}
