{# src/Blogger/BlogBundle/Resources/views/Administration/addDatacardDocumentation.html.twig #}
{% form_theme form1 'CKMAppBundle::Form/errors.html.twig' %}

{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  {% include 'CKMAppBundle:Analysis:mathjax.html.twig' %}
{% endblock %}

{% block titlePage %}
Administration - <small>Documentation management</small>
{% endblock %}

{% set explainText='' %}
{% set scenario='' %}
{% set model='' %}
{% for flashMessage in app.session.flashbag.get('explainText') %}
  {% for doc in flashMessage %}
    {% set explainText=explainText~doc %}
  {% endfor %}
{% endfor %}

{% block content %}

{% if tab is defined and tab == 'latex' %}
  {% set tabLatex = 'active' %}
  {% set tabData  = '' %}
  {% set tabDataIn  = '' %}
  {% set tabLatexIn  = 'in' %}
{% else %}
  {% set tabLatex = '' %}
  {% set tabData  = 'active' %}
  {% set tabDataIn  = 'in' %}
  {% set tabLatexIn  = '' %}
{% endif %}

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
          <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<div class="row">
  <div class="col-sm-12 ">
    <div class="tabs">
      <ul style="margin-bottom: 15px;" class="nav nav-tabs">
        <li class="{{ tabData|raw }}" ><a data-toggle="tab" href="#datacard">Inputs Documentation</a></li>
        <li class="{{ tabLatex|raw }}" ><a data-toggle="tab" href="#latex">Latex Documentation</a></li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div id="datacard" class="tab-pane fade {{ tabData|raw }} {{ tabDataIn|raw }}" class="col-sm-8 ">
          {{ render(controller('CKMAppBundle:Administration:addDatacardDocumentation', {
                'error': 0
          })) }}

          <div class="row">
            <div class="col-sm-8 ">
              <blockquote>
                <p><h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> Document a Scenario</h3></p>

                  {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="alert alert-warning">
                             {{ flashMessage|raw}}
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                <form role="form" action="{{ path('CKMAppBundle_administration_datacard_documentation', {'display': 'no' }) }}" method="post" {{ form_enctype(form1) }}>
                  {{ form_errors(form1.model) }}
                  {{ form_label(form1.model) }}
                  {{ form_widget(form1.model) }}

                  {{ form_errors(form1.scenario) }}
                  {{ form_label(form1.scenario) }}
                  {{ form_widget(form1.scenario) }}

                  {# form_errors(form1.display) #}
                  {# form_label(form1.display) #}
                  {{ form_widget(form1.display) }}

                  {% if app.session.get('modelName') is defined %}
                    {% if app.session.get('modelName') is not empty %}
                      <p><span class="label label-info">Last choice</span>&nbsp;<span class="label label-default">{{app.session.get('modelName')}}</span> > <span class="label label-default">{{app.session.get('scenarioName')}}</span></p>
                    {% endif %}
                  {% endif %}

                  {{ form_errors(form1.explain) }}
                  {{ form_label(form1.explain) }}
                  {{ form_widget(form1.explain, { 'value' : explainText }) }}
                  <br />

                  <div class="row">
                    <div class="col-lg-4">
                      {{ form_widget(form1.document) }}
                    </div>
                    <div class="col-lg-4">
                      {{ form_widget(form1.export) }}
                    </div>
                    <div class="col-lg-4">
                      {{ form_widget(form1.remove) }}
                    </div>
                  </div>                 

                  {{ form_rest(form1) }}
                </form>
              </blockquote>
            </div>
          </div>
        </div> <!-- end datacard -->

        <div id="latex" class="tab-pane {{ tabLatex|raw }} {{ tabLatexIn|raw }} fade" class="col-sm-8 ">
          {{ render(controller('CKMAppBundle:Administration:latexDocumentation')) }}
        </div> <!-- end div latex-->

      </div> <!-- end div tab-content -->
    </div> <!-- end div tabs-->
  </div> <!-- div class="col-lg-8 " -->
</div> <!-- row -->
{% endblock %}

{% block document_ready %}
  $("#ckm_appbundle_documentation_model").change(function(){
      var data = {
          model_id: $(this).val()
      };

      $.ajax({
          type: 'post',
          url: '{{ path("select_scenario", {'model_id': 'data'}) }}',
          data: data,
          success: function(data) {
            var $city_selector = $('#ckm_appbundle_documentation_scenario');
            jsonArray=JSON.parse(data[0]);

            if (jsonArray.length === 0) {
              $city_selector.html('<option>Sorry no Scenario available. Please contact your administrator</option>');
            } else {
              $city_selector.html('<option>Scenario</option>');
              for(var key1 in data) {
                array=JSON.parse(data[key1]);
                for(var key in array) {
                  var a = array[key];
                  $city_selector.append('<option value="' + a.id + '">' + a.name + '</option>');
                }
              }
            }
          }
      });
  });
{% endblock %}
