{# src/Blogger/BlogBundle/Resources/views/Administration/datacard.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block titlePage %}
Administration - <small>Scenario & Model management</small>
{% endblock %}

{% block content %}

{% if tab is defined and tab == 'model' %}
  {% set tabLatex = 'active' %}
  {% set tabData  = '' %}
  {% set tabDataIn  = '' %}
  {% set tabLatexIn  = 'in' %}
{% else %}
  {% set tabLatex = '' %}
  {% set tabData  = 'active' %}
  {% set tabDataIn  = 'in' %}
  {% set tabLatexIn  = '' %}
{% endif %}


<div class="row">
  <div class="col-sm-12 ">

    {% for type, flashMessages in app.session.flashbag.all() %}
      {% for flashMessage in flashMessages %}
          <div class="alert alert-{{ type }}">
              <span class="label label-{{ type }}">{{ type }}</span> &nbsp;{{ flashMessage }}
          </div>
      {% endfor %}
    {% endfor %}

    <div class="tabs">
      <ul style="margin-bottom: 15px;" class="nav nav-tabs">
        <li class="{{ tabData|raw }}" ><a data-toggle="tab" href="#scenario">Scenario</a></li>
        <li class="{{ tabLatex|raw }}" ><a data-toggle="tab" href="#model"> Model</a></li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div id="scenario" class="tab-pane fade {{ tabData|raw }} {{ tabDataIn|raw }}" class="col-sm-8 ">

          <div class="row">
            <div class="col-lg-8 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> Scenarios List</h3>
                </div>
                <div class="panel-body">

                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th class="header">Scenario </th>
                          <th class="header">Name </th>
                          <th class="header">Model </th>
                          <th class="header">Date </th>
                          <th class="header">All inputs documented </th>
                          <th class="header">Actions </th>
                        </tr>
                      </thead>
                      {% for scenario in scenarios %}
                        <tr>
                          <td>  {{ scenario.id }}</td>
                          <td>  {{ scenario.name }}</td>
                          <td>  {{ scenario.model.name }}</td>
                          <td>  {{ scenario.dateCreate|date("m/d/Y - H:i") }}</td>
                          <td>  {{ scenario.isDocumented ? 'true' : 'false'}}</td>
                          <td>
                            <a style="margin-left:5px;" class="right btn btn-success btn-xs" data-original-title="Add quantity in Scenario" title="Add quantity in Scenario" href="{{ path('CKMAppBundle_administration_scenario_add_quantity', {'scenario': scenario.id}) }}">
                              <i class="glyphicon glyphicon-plus"></i>
                            </a>
                            
                            <a style="margin-left:5px;" class="right btn btn-danger btn-xs" data-original-title="Suppress scenario" title="Suppress scenario" href="{{ path('CKMAppBundle_administration_scenario_delete', {'scenario': scenario.id}) }}">
                              <i class="fa fa-times-circle fa-lg"></i>
                            </a>
                            <a style="margin-left:5px;" class="right btn btn-success btn-xs" href="{{ path('CKMAppBundle_administration_scenario_edit', {'scenario': scenario.id}) }}">
                              <i class="glyphicon glyphicon-pencil tooltips" data-original-title="Edit scenario" title="Edit scenario"></i>
                            </a> &nbsp;&nbsp;
                            <a style="margin-left:5px;" class="right btn btn-success btn-xs" href="{{ path('CKMAppBundle_administration_scenario_show', {'scenario': scenario.id}) }}">
                              <i class="glyphicon glyphicon-eye-open tooltips" data-original-title="Show scenario" title="Show scenario"></i>
                            </a> &nbsp;&nbsp;
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-4">
              {{ render(controller('CKMAppBundle:Administration:addDatacard', {
                      'error': 0
                  })) }}
            </div>

          </div>

        </div> <!-- end datacard -->

        <div id="model" class="tab-pane {{ tabLatex|raw }} {{ tabLatexIn|raw }} fade" class="col-sm-8 ">
          {{ render(controller('CKMAppBundle:Administration:model')) }}
        </div> <!-- end div latex-->
      </div> <!-- end div tab-content -->
    </div> <!-- end div tabs-->
  </div> <!-- div class="col-lg-8 " -->
</div> <!-- row -->

{% endblock %}
