{# src/Blogger/BlogBundle/Resources/views/Analysis/index.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  {% include 'CKMAppBundle:Analysis:mathjax.html.twig' %}
{% endblock %}

{% block titlePage %}
Administration - <small>Documentation management</small>
{% endblock %}

{% block content %}

{% if tab is defined and tab == 'latex' %}
  {% set tabLatex = 'active' %}
  {% set tabData  = '' %}
  {% set tabDataIn  = '' %}
  {% set tabLatexIn  = 'in' %}
{% else %}
  {% set tabLatex = '' %}
  {% set tabData  = 'active' %}
  {% set tabDataIn  = 'in' %}
  {% set tabLatexIn  = '' %}
{% endif %}


{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
              <h4>Warning!</h4>
              <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}
<div class="row">
  <div class="col-sm-12 ">
    <div class="tabs">
      <ul style="margin-bottom: 15px;" class="nav nav-tabs">
        <li class="{{ tabData|raw }}" ><a data-toggle="tab" href="#datacard">Scenario Documentation</a></li>
        <li class="{{ tabLatex|raw }}" ><a data-toggle="tab" href="#latex">Latex Documentation</a></li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div id="datacard" class="tab-pane fade {{ tabData|raw }} {{ tabDataIn|raw }}" class="col-sm-8 ">

        <div class="row">
          <div class="col-sm-8 ">
            <blockquote>
                <p><h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> Documented Scenarii </h3></p>
                {% if scenarioDocumented is defined %}
                    <table class="table table-condensed table-hover">
                      <thead>
                        <tr>
                          <th class="header">Scenario name </th>
                          <th class="header">is documented ? </th>
                          <th class="header">Model </th>
                          <th class="header">Link </th>
                          <th class="header">Switch isDocumented </th>
                        </tr>
                      </thead>
                      {% for scenario in scenarioDocumented %}
                        <tr>
                          <td> {{scenario.name}}</td>
                          <td> {{scenario.isDocumented  ? 'true' : 'false' }} </td>
                          <td> {{scenario.model.name}}</td>
                          <td> <a href="{{ path('CKMAppBundle_documentation_datacard_input', {'scenario': scenario.id, 'input': 0 }) }}">Scenario explanation link</a></td>
                          <td>
                            {{ render(controller('CKMAppBundle:Administration:switchIsDocumented', {'scenario': scenario} )) }}
                          </td>
                        </tr>
                      {% endfor %}
                      </table>
              {% endif %}
            </blockquote>
          </div>
        </div>

          {{ render(controller('CKMAppBundle:Administration:addDatacardDocumentation', {
                  'error': 0
              })) }}

        </div> <!-- end datacard -->

        <div id="latex" class="tab-pane {{ tabLatex|raw }} {{ tabLatexIn|raw }} fade" class="col-sm-8 ">
          {{ render(controller('CKMAppBundle:Administration:latexDocumentation')) }}
        </div> <!-- end div latex-->
        </div> <!-- end div tab-content -->
    </div> <!-- end div tabs-->
  </div> <!-- div class="col-lg-8 " -->
</div> <!-- row -->
{% endblock %}
{% block document_ready %}
  $("#ckm_appbundle_documentation_model").change(function(){
      var data = {
          model_id: $(this).val()
      };

      $.ajax({
          type: 'post',
          url: '{{ path("select_scenario", {'model_id': 'data'}) }}',
          data: data,
          success: function(data) {
            var $city_selector = $('#ckm_appbundle_documentation_scenario');
            jsonArray=JSON.parse(data[0]);

            if (jsonArray.length === 0) {
              $city_selector.html('<option>Sorry no Scenario available. Please contact your administrator</option>');
            } else {
              $city_selector.html('<option>Scenario</option>');
              for(var key1 in data) {
                array=JSON.parse(data[key1]);
                for(var key in array) {
                  var a = array[key];
                  $city_selector.append('<option value="' + a.id + '">' + a.name + '</option>');
                }
              }
            }
          }
      });
  });
{% endblock %}