{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
.obfuscate { unicode-bidi: bidi-override; direction: rtl; clear:both;}
.obfuscate span { display: none; }
.green{background-color: #5cb85c;}
  </style>
{% endblock %}

{% block titlePage %}
<small> <span style="color:#3167AC;">Home </span> - <span style="color:#555;">The CKMlive project and the CKMfitter group</span></small>
{% endblock %}


{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
  {% for flashMessage in flashMessages %}
      <div class="alert alert-{{ type }}">
          <span class="label label-{{ type }}">{{ type }}</span> &nbsp;{{ flashMessage }}
      </div>
  {% endfor %}
{% endfor %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-4 col-sm-12">
	<div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">CKMlive Web Project</h3>
          </div>
          <div class="panel-body">
              <p>CKMlive is meant to allow the High Energy Physics community to run dedicated analyses conducted with the CKMfitter software.  <p>
              <p>You must register <a href="{{ path('fos_user_registration_register') }}">here</a> first. Once registered, you will be able to <a href="{{ path('CKMAppBundle_analyse_create_step_1') }}">start analyses</a> using the CKMfitter environment.</p>
              <p>The CKMlive project is brought to you by <strong>Jérôme CHARLES, Alexandre CLAUDE, Sébastien DESCOTES-GENON, Stéphane MONTEIL</strong>. The mailing list <mark style="background-color:#3898c8;">ckmlive<span style="display:none">null</span><!-- stop spam -->&#64;<span style="display:none">null</span>clermont.in2p3.fr</mark> is available to ask any questions on the project
              </p>
          </div>
        </div>      

        <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">SM global fit</h3>
          </div>
          <div class="panel-body">
         <p> In the framework of the Standard Model, charged-current quark transitions are described by the CKM matrix, which can be parameterised with four independent parameters. CKMlive allows you to perform the metrology of these parameters using experimental constraints on observables with a good control of theoretical uncertainties.</p>
<img style="margin:0 auto" src="http://ckmfitter.in2p3.fr/www/results/plots_ckm14/png/rhoeta_large.png" alt="rhoeta_large" class="img-responsive img-rounded">
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">CKMfitter Group</h3>
          </div>
          <div class="panel-body">
             <p> <strong>CKMfitter</strong> is a group of <a href="http://ckmfitter.in2p3.fr/www/html/ckm_group.html" target="_blank"> theoreticians and experimentalists</a> who propose global  interpretations of the Flavour Physics data in the framework of the Standard Model (SM) of Particle Physics and beyond (BSM). The involved laboratories are by alphabetical order: <strong> CPT (Marseille), KEK (Japan), LAPP (Annecy-Le-Vieux), LPC (Clermont), LPNHE (Paris), LPT (Orsay), and the Universities of Berlin (Germany) and Melbourne (Australia)</strong>. </p>
<p> A rather complete description of the group and its activities (including the main results and publications) can be found <a href="http://ckmfitter.in2p3.fr" target="_blank">here</a>. In particular, we provide the  High Energy Physics community with the metrology of the four SM parameters describing the quark flavour charged current transitions in the<strong> Cabibbo-Kobayashi-Maskawa (CKM) paradigm</strong>, established with frequentist statistical techniques.</p>
<p><strong>CKMlive is a web interface </strong> that will allow you to perform similar analysis for given scenarios (in particular the Standard Model global fit), either taking inputs from analyses already performed by the CKMfitter group or choosing your preferred inputs.</p>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">New Physics in &#916;F = 2</h3>
          </div>
          <div class="panel-body">
          <p>CKMlive will be extended to flavour analyses beyond the Standard Model in the future. For instance, it is possible to introduce New Physics contributions in neutral mesons mixing processes in a model-independent way by multiplying the SM mixing matrix elements by a NP complex amplitude. Following the parameterisation of <a href="http://arxiv.org/abs/1008.1593" target=_blank>Lenz <em>et al.</em></a> : </p>

{% raw %}
  \(
  M_{12}^q = M_{12}^{{
\rm SM},q}
  \cdot
  \Delta_q
  \)
{% endraw  %}
<br />

where \( \Delta_q \) is the complex NP amplitude for a given quark falvour, \( q=d,s \).

<p>This NP scenario can be constrained using the observables used in the Standard Model global fit as well as additional observables for neutral-meson mixing. </p> 

<img style="margin:0 auto" src="http://ckmfitter.in2p3.fr/www/results/plots_ckm14/png/NPmix_ReImDeltad-noASL.png" alt="NPmix_ReImDeltad-noASL" class="img-responsive img-rounded">
          </div>
        </div>
    </div>

  </div>
  <div class="raw">
    <div class="alert alert-info" role="alert" style="text-align:center;"><strong>The interface and the display of mathematical equations are optimised for the Firefox browser</strong></div>
  </div>
</div>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{% endblock %}
