{# src/Blogger/BlogBundle/Resources/views/Analysis/createAnalysisStep.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}


{% block titlePage %}
Analysis - <small> {{ message }} </small>
{% endblock %}
{% block content %}
<h3>Analysis Definition - {{ message1 }}</h3>

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
          <p><span class="label label-default"> Warning </span></p>
          <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<div class="row">
  <div class="col-sm-8">
    <form role="form" method="post" {{ form_enctype(form) }}>

      <div class="form-group">


        <div class="col-sm-6">
            {{ form_errors(form.targetObservable) }}
            {{ form_label(form.targetObservable) }}
            {{ form_widget(form.targetObservable) }}
<br />
            {{ form_errors(form.targetParameter) }}
            {{ form_label(form.targetParameter) }}
            {{ form_widget(form.targetParameter) }}
<br />
          <a class="btn btn-danger" href="{{ path('CKMAppBundle_analyse_create_analyse_remove', {'analyse': analyse}) }}"><i class="glyphicon glyphicon-remove"></i> Cancel Analysis</a>
          <button class="btn btn-primary" type="submit" ><i class="glyphicon glyphicon-ok"></i>  &nbsp;Submit</button>
        </div>

        <div class="col-sm-5">
            {{ form_errors(form.scanMin1) }}
            {{ form_label(form.scanMin1) }}&nbsp;<span id="target12"></span>
            {{ form_widget(form.scanMin1) }}

            {{ form_errors(form.scanMax1) }}
            {{ form_label(form.scanMax1) }} &nbsp;<span id="target11"></span>
            {{ form_widget(form.scanMax1) }}

            {% if constraint==2 %}
              {{ form_errors(form.scanMin2) }}
              {{ form_label(form.scanMin2) }}&nbsp;<span id="target22"></span>
              {{ form_widget(form.scanMin2) }}

              {{ form_errors(form.scanMax2) }}
              {{ form_label(form.scanMax2) }}&nbsp;<span id="target21"></span>
              {{ form_widget(form.scanMax2) }}

            {% endif %}
        </div>
 {{ form_rest(form) }}
      </div>
    </form>
  </div>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{% endblock %}

{% block document_ready %}
    {{ parent() }}
   $("select[name='ckm_appbundle_analysis_step2[targetObservable][]']").change( function() // lorsqu'un nouveau fournisseur est sélectionné
   {
    var array =  $("option:selected").map(function(){ return this.value }).get() ;
    $("#target11").text('('+array[0]+')');
    $("#target12").text('('+array[0]+')');
    $("#target21").text('('+array[1]+')');
    $("#target22").text('('+array[1]+')');
   });

   $("select[name='ckm_appbundle_analysis_step2[targetParameter][]']").change( function() // lorsqu'un nouveau fournisseur est sélectionné
   {
    var array =  $("option:selected").map(function(){ return this.value }).get() ;
    $("#target11").text('('+array[0]+')');
    $("#target12").text('('+array[0]+')');
    $("#target21").text('('+array[1]+')');
    $("#target22").text('('+array[1]+')');
   });
{% endblock %}
