{# src/Blogger/BlogBundle/Resources/views/Analysis/createAnalysisStep.html.twig #}
{% form_theme form 'CKMAppBundle::Form/errors.html.twig' %}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  {% include 'CKMAppBundle:Analysis:mathjax.html.twig' %}
{% endblock %}

{% block titlePage %}
Analysis - <small> {{ message }} </small>
{% endblock %}
{% block content %}
<h3>{{ message1 }}</h3>

{% if message2 is defined and message2 is not null %}
<p>{{ message2 }}</p>
{% endif %}

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
          <p><span class="label label-default"> Warning </span>&nbsp; {{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}



<div class="row">
<div class="col-lg-6">
  <div class="alert alert-info">
	  <p>Each step will help you to define the elements of your analysis. If you have already completed one step but change your mind, please do not use the “Back” feature of your browser. Instead, keep on following the steps up to the summary of your analysis, where you will be able to modify the information already provided, if necessary.</p>
    
    {% if step==2 or step==3 %}
    <p>You can cancel the current selection by typing CTRL and selecting another element (on Unix/Windows) or by typing Command reselecting the selection (on Mac OS).</p>
	
    <p>You can select several elements by pressing Command/Alt (on Mac OS) or shift (on Unix/Windows) at the time of selection</p>
    {% endif %}
  </div>
</div>

  {% if step==2 or step==3 %}
    <div class="col-lg-6">
      <div class="well">
       Information on this scenario (including the default input values) can be found on the <a href="{{ path('CKMAppBundle_documentation_datacard_input', {'scenario':scenario, 'input': 0, 'tab':'input' }) }}" target="_blank"><strong> {{ scenarioName }} documentation page</strong> </a>     
      </div>
    </div>
  {% endif %}

</div>



<div class="row">
  <div class="col-sm-6">
    <form role="form" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <br />
      <div class="form-group">
          {% if step==1 %}
          <a class="btn btn-danger" href="{{ path('CKMAppBundle_analyse_by_user', {'user_id':app.user.id} ) }}"><i class="glyphicon glyphicon-remove"></i> Cancel Analysis</a>
          {% endif %}
          {% if step==2 or step==3 %}
          <a class="btn btn-danger" href="{{ path('CKMAppBundle_analyse_create_analyse_remove', {'analyse': analyse}) }}"><i class="glyphicon glyphicon-remove"></i> Cancel Analysis</a>
          {% endif %}

          <button class="btn btn-primary" type="submit" ><i class="glyphicon glyphicon-ok"></i>  &nbsp;Submit</button>
      </div>
    </form>
  </div>

{% if step==3 %}
 <div style="float:right;" class="col-sm-6">
   <div >
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> Your target choice</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for target in getIsTargets(analyse) %}
            <a class="list-group-item" href="#">
              <i class="fa fa-check"></i> {{target.latex.latex}}
              <span style="float:right;">
              \([\)
              \({{target.scanMin}}\)
              \(,\)
              \({{target.scanMax}}\)
              \(]\)
              </span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
   </div>
 </div>
{% endif %}

</div>
{% endblock %}

{% block document_ready %}
  $("#ckm_appbundle_analysis_step1_model").change(function(){
      var data = {
          model_id: $(this).val()
      };

      $.ajax({
          type: 'post',
          url: '{{ path("select_scenario", {'model_id': 'data'}) }}',
          data: data,
          success: function(data) {
            var $city_selector = $('#ckm_appbundle_analysis_step1_scenario');
            jsonArray=JSON.parse(data[0]);

            if (jsonArray.length === 0) {
              $city_selector.html('<option>Sorry no Scenario available. Please contact your administrator</option>');
            } else {
              $city_selector.html('<option>Scenario</option>');
              for(var key1 in data) {
                array=JSON.parse(data[key1]);
                for(var key in array) {
                  var a = array[key];
                  $city_selector.append('<option value="' + a.id + '">' + a.name + '</option>');
                }
              }
            }
          }
      });
  });
{% endblock %}
