{# src/Blogger/BlogBundle/Resources/views/Analysis/index.html.twig #}
{% form_theme form 'CKMAppBundle::Form/errors.html.twig' %}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block titlePage %}
Analysis - <small>{{ type }} definition</small>
{% endblock %}
{% block content %}
<h3>Edit {{ type }}</h3>

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
              <h4>Warning!</h4>
              <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<div class="row">
  <div class="col-lg-6">
    <form role="form" method="post" {{ form_enctype(form) }}>
      <div class="form-group">
        {{ form_errors(form.name) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': { 'readonly': 'true' } }) }}
      </div>

      <div class="form-group row">
        <div class="col-md-6">
        {{ form_errors(form.value) }}
        {{ form_label(form.value) }}
        {{ form_widget(form.value) }}
        </div>
        <div class="col-md-6">
        {{ form_errors(form.defaultValue) }}
        {{ form_label(form.defaultValue) }}
        {{ form_widget(form.defaultValue, { 'attr': { 'readonly': 'true' } }) }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
        {{ form_errors(form.expUncertityPlus) }}
        {{ form_label(form.expUncertityPlus) }}
        {{ form_widget(form.expUncertityPlus ) }}
        </div>
        <div class="col-md-6">
        {{ form_errors(form.expUncertityPlusDefault) }}
        {{ form_label(form.expUncertityPlusDefault) }}
        {{ form_widget(form.expUncertityPlusDefault, { 'attr': { 'readonly': 'true' } }) }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
        {{ form_errors(form.expUncertityMinus) }}
        {{ form_label(form.expUncertityMinus) }}
        {{ form_widget(form.expUncertityMinus ) }}
        </div>
        <div class="col-md-6">
        {{ form_errors(form.expUncertityMinusDefault) }}
        {{ form_label(form.expUncertityMinusDefault) }}
        {{ form_widget(form.expUncertityMinusDefault, { 'attr': { 'readonly': 'true' } }) }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
        {{ form_errors(form.thUncertity) }}
        {{ form_label(form.thUncertity) }}
        {{ form_widget(form.thUncertity) }}
        </div>
        <div class="col-md-6">
        {{ form_errors(form.thUncertityDefault) }}
        {{ form_label(form.thUncertityDefault) }}
        {{ form_widget(form.thUncertityDefault, { 'attr': { 'readonly': 'true' } }) }}
        </div>
      </div>
      <br />
      {{ form_rest(form) }}
      <p>
        <input type="submit" class="btn btn-primary" />
      </p>
    </form>
  </div>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{% endblock %}
