{# src/Blogger/BlogBundle/Resources/views/Analysis/editAnalysisProperties.html.twig #}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block titlePage %}
Analysis - <small> Define {{ message }} </small>
{% endblock %}
{% block content %}
<h3>{{ message }}</h3>

<div class="row">
  <div class="col-lg-6">
    <form role="form" method="post" {{ form_enctype(form) }}>
{% if type == 'scan' %}
      <div class="form-group">
        {{ form_errors(form.name) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': { 'readonly': 'true' } }) }}
      </div>
      {{ form_rest(form) }}
{% endif %}
{% if type == 'property' %}
      {{ form_widget(form) }}
{% endif %}
      <br />
      <p>
        <input type="submit" class="btn btn-primary" />
      </p>
    </form>
  </div>
</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{% endblock %}
