{# src/Blogger/BlogBundle/Resources/views/Analysis/index.html.twig #}
{% form_theme form 'CKMAppBundle::Form/errors.html.twig' %}
{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  {% include 'CKMAppBundle:Analysis:mathjax.html.twig' %}
{% endblock %}

{% block titlePage %}
Analysis - <small>{{ type }} definition</small>
{% endblock %}
{% block content %}
<h3>Edit {{ type }}  {{ observable.latex.latex }} </h3>

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-6">
      <div class="alert alert-danger">
              <h4>Warning!</h4>
              <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<div class="row">
  <div class="col-sm-10">
    <div class="alert alert-dismissable alert-info">
    <p>In this interface, you can change the properties of your input.
    
      <ul>You have two systems :
      <li>a system tag where you can use either the default value of the datacard <a style="color: navy;" href="{{ path('CKMAppBundle_documentation_datacard_input', {'scenario': observable.analyse.scenario.id, 'input': observable.id , 'tab':'input' }) }}" target="_blank"><strong> {{ observable.analyse.scenario.name }} </strong> for {{ observable.latex.latex }} </a> or a value from a different scenario</li>
      <li>a specific system where you can put your own specific data (value, theoretical and experimentale uncertainty)</li>
      </ul>
      Choose either one or the other.
    </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    {{
      render(controller('CKMAppBundle:Analysis:editInputTag',
                        {
                          'input_id': observable.id
                        }
                        )
            )
    }}
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> ... or change Specific values (Range for central value [{{observable.allowedRangeMin}}, {{observable.allowedRangeMax}}])</h3>
          </div>
          <div class="panel-body">
            <p>Notice : you must change the three values at once</p>
            <form role="form" method="post" {{ form_enctype(form) }}>
              <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, { 'attr': { 'readonly': 'true' } }) }}
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                {{ form_label(form.value) }}
                {{ form_errors(form.value) }} 
                {{ form_widget(form.value) }}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                {{ form_label(form.expUncertity) }}
                {{ form_errors(form.expUncertity) }}
                {{ form_widget(form.expUncertity ) }}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                {{ form_label(form.thUncertity) }}
                {{ form_errors(form.thUncertity) }}
                {{ form_widget(form.thUncertity) }}
                </div>
              </div>
              <br />
              {{ form_rest(form) }}
              <p>
                <input type="submit" class="btn btn-primary" />
              </p>
            </form>
          </div>
    </div>
  </div>
</div>

{% endblock %}
