{# src/Blogger/BlogBundle/Resources/views/Analysis/source.html.twig #}

{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <script type="text/javascript">
      var shiftWindow = function() { scrollBy(0, -55) };
      if (location.hash) shiftWindow();
      window.addEventListener("hashchange", shiftWindow);
    </script>

  {% include 'CKMAppBundle:Analysis:mathjax.html.twig' %}

{% endblock %}

{% block titlePage %}
Analysis - <small>Personalize your analysis </small>
{% endblock %}


{% block content %}

{# gestion des tab #}
{% if tab is defined and tab == 'input' %}
  {% set tabInput = 'active' %}
  {% set tabTarget  = '' %}
  {% set tabTargetIn  = '' %}
  {% set tabInputIn  = 'in' %}
{% else %}
  {% set tabInput = '' %}
  {% set tabTarget  = 'active' %}
  {% set tabTargetIn  = 'in' %}
  {% set tabInputIn  = '' %}
{% endif %}

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-success">
              <h4>Success!</h4>
              <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-danger">
              <h4>Warning!</h4>
              <p>{{ flashMessage }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<h4 style="text-transform: uppercase;margin-bottom:15px;">
<i class="fa fa-asterisk "></i>  {{analyse.name}}
</h4>

{% if observables is defined %}

  {% set paramEverInUse = {} %}
  {% set paramGetObs    = {} %}
  {% set style          = '' %}
  {% set line           = '' %}
  {% set counter        = 1  %}
<div class="row">

<div class="col-sm-8 ">
  <div class="tabs">
    <ul style="margin-bottom: 15px;" class="nav nav-tabs">
      <li class="{{ tabTarget|raw }}"><a data-toggle="tab" href="#targets">Targets</a></li>
      <li class="{{ tabInput|raw }}"><a data-toggle="tab" href="#inputs">Inputs</a></li>
    </ul>

    <div class="tab-content" id="myTabContent">

      <div id="targets" class="tab-pane fade {{ tabTarget|raw }} {{ tabTargetIn|raw }}" class="col-sm-8 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> Your Target(s)</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
            {% for target in getIsTargets(analyse) %}
            <a class="list-group-item" href="{{ path('CKMAppBundle_analyse_create_analyse_scan', {'target_id': target.id}) }}">
              <i class="fa fa-check"></i>  #{{ target.id }} - {{ target.latex.latex }}
              <span style="float:right;">
              {{ latex('['~target.scanMin~','~target.scanMax~']') }}
              </span>
            </a>
              {% if analyse.isObservable(target.name) %}
                  <table class="table table-condensed table-hover">
                    <thead>
                      <tr>
                        <th class="header">Parameter </th>
                        <th style="border-bottom:2px solid black;" class="header">&nbsp; </th>
                        <th style="border-bottom:2px solid black;" class="header">Property </th>
                        <th style="border-bottom:2px solid black;" class="header">&nbsp; </th>
                        <th class="header">Explanations </th>
                        <th class="header">Edit </th>
                      </tr>
                    </thead>
                {% for parameter in target.getParameters() %}
                  {% set paramEverInUse = paramEverInUse|merge({ (parameter.latex.latex): target.latex.latex }) %}
                  {% set paramGetObs    = paramGetObs|merge({ (parameter.latex.latex): target.latex.latex }) %}
                      <tr>
                        <td> #{{ parameter.id }} -
                        {% if parameter.latex.latex %}
                          {{ parameter.latex.latex}}
                        {% endif %} </td>
                        {% include 'CKMAppBundle:Analysis:quantity_property.html.twig' with {'quantity': parameter} only %}
                        <td>
                          <div class="text-right" id="{{parameter.name}}">
                            <a class="btn btn-success btn-xs" href="{{path('CKMAppBundle_analyse_create_analyse_source_input', {'input_id': parameter.id, 'type':'Parameter'})}}"><i class="glyphicon glyphicon-pencil tooltips" data-original-title="Edit parameter" title="Edit parameter"></i> </a>
                          </div>
                        </td>
                      </tr>
                {% endfor %}
                    </table>
              {% endif %}

            {% endfor %}
            </div>
          </div>
        </div>

      </div> <!-- end targets -->

      <div id="inputs"  class="tab-pane {{ tabInput|raw }} {{ tabInputIn|raw }} fade" class="col-sm-8 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-arrow-circle-o-right "></i> Your input Observable(s)</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th class="header">Observable </th>
                      <th style="border-bottom:2px solid black;" class="header">&nbsp; </th>
                      <th style="border-bottom:2px solid black;" class="header">Property </th>
                      <th style="border-bottom:2px solid black;" class="header">&nbsp; </th>
                      <th class="header">Explanations </th>
                      <th class="header">Actions </th>
                    </tr>
                  </thead>


    {% for observable in observables %}
                    <tr>
                      <td> #{{ observable.id }} - {{ observable.latex.latex}}</td>
                      {% include 'CKMAppBundle:Analysis:quantity_property.html.twig' with {'quantity': observable} only %}
                      <td>
                        <div class="text-right">
                          <a class="btn btn-success btn-xs" href="{{ path('CKMAppBundle_analyse_create_analyse_source_input', {'input_id': observable.id, 'type':'Observable'}) }}">
                            <i class="glyphicon glyphicon-pencil tooltips" data-original-title="Edit observable" title="Edit observable"></i>
                          </a>
                          <a class="btn btn-danger btn-xs" href="{{ path('CKMAppBundle_analyse_input_delete', {'input': observable.id}) }}">
                            <i class="fa fa-times-circle fa-lg" data-original-title="Delete observable" title="Delete observable"></i>
                          </a>
                        </div>
                      </td>
                {% if observable.parameters is defined %}
                      <tr class="clickable" data-toggle="collapse" id="row{{ counter }}" data-target=".row{{ counter }}" class="success"><td colspan="7" ><i class="glyphicon glyphicon-plus"></i> Parameters of the Observable {{observable.latex.latex}} <span style="float:right;" class="badge">See parameter...</span></td></tr>
                  {% for oneParameter in observable.parameters %}
                    {% if oneParameter.latex.latex in paramEverInUse|keys %}
                      {% set style = "background:#eee" %}
                      {% set line = '<a href="#'~ oneParameter.name ~'">See '~ oneParameter.latex.latex ~' of '~ paramGetObs[oneParameter.latex.latex] ~'</a>' %}
                    {% else %}
                      {% set line = '<div class="text-right" id="'~oneParameter.name~'"><a class="btn btn-success btn-xs" href="'~ path('CKMAppBundle_analyse_create_analyse_source_input', {'input_id': oneParameter.id, 'type':'Parameter'}) ~'"><i class="glyphicon glyphicon-pencil tooltips" data-original-title="Edit parameter" title="Edit parameter"></i></a></div>' %}
                      {% set paramGetObs = paramGetObs|merge({ (oneParameter.latex.latex): observable.latex.latex }) %}
                    {% endif %}
                      <tr class="collapse row{{ counter }}" style="{{ style|e }}" >
                        <td>#{{ oneParameter.id }} -
                        {% if oneParameter.latex.latex is defined %}
                          {{ oneParameter.latex.latex}}
                        {% else %}
                          {{ oneParameter.name}}
                        {% endif %}
                        </td>
                          {% include 'CKMAppBundle:Analysis:quantity_property.html.twig' with {'quantity': oneParameter} only %}
                        <td>{{ line|raw }}</td>
                      </tr>
                      {% set style = '' %}
                      {% set line  = '' %}

                      {% set paramEverInUse = paramEverInUse|merge({ (oneParameter.latex.latex): observable.latex.latex }) %}
                  {% endfor %}
                      {% set counter=counter+1 %}
                {% else %}
                      <tr><td>No Parameter found...</td></tr>
                {% endif %}
                      <tr ><td colspan="7" >&nbsp;</td></tr>
    {% endfor %}
                </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end div tab-content -->
  </div> <!-- end div tabs-->
  </div> <!-- div class="col-lg-8 " -->
{% else %}
No observable defined...
{% endif %}

{% include 'CKMAppBundle:Analysis:status_' ~ analyse.status ~ '.html.twig' %}

</div> <!-- row -->

{% endblock %}

{% block document_ready %}
{{ parent() }}
$('.tool').tooltip();
{% endblock %}

