{# src/Blogger/BlogBundle/Resources/views/Documentation/index.html.twig #}

{% extends 'CKMAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  {% include 'CKMAppBundle:Analysis:mathjax.html.twig' %}
{% endblock %}

{% block titlePage %}
Documentation - <small>{{ scenario }}::</small>
{% endblock %}

{% block content %}
<p>We know that we must document the inputs of the datacard {{scenario }}<br /></p>

{% for doc in docs %}
<p><strong>{{ doc.input}}</strong></p>
<p>{{ doc.explanation }}</p>
{% endfor %}

{% endblock %}